/* General Styles */
body {
  background-color: #121212; /* Dark background */
  color: #ffffff; /* White text color */
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

/* Day Controls */
#day-control {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.button {
  background-color: #1e1e1e;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

/* Days Passed */
#daysPassedContainer {
  color: #555;
  font-size: small;
  text-align: center;
}

/* Legend */
.legend {
  margin-top: 20px;
  text-align: center;
}

.color-box {
  display: inline-block;
  width: 20px; /* Size of the color box */
  height: 20px; /* Size of the color box */
  margin-right: 10px;
  border-radius: 3px; /* Rounded corners */
}

.color-box.green {
  background-color: #4caf50; /* Softer green */
}

.color-box.blue {
  background-color: #2196f3; /* Softer blue */
}

.color-box.red {
  background-color: #f45c36; /* Softer red */
}

/* Boxes Container */
#boxes-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch; /* Ensure all children stretch to the same height */
  flex-direction: row;
  justify-content: center;
}

.box {
  width: calc(10% - 15px); /* Adjust width to fit 10 items per row */
  height: 80px; /* Adjust as needed */
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid #333;
}

/* Adjust media query for smaller screens */
@media (max-width: 800px) {
  .box {
    width: calc(20% - 10px); /* 5 items per row on smaller screens */
  }
}

@media (max-width: 500px) {
  .box {
    width: calc(50% - 10px); /* 2 items per row on very small screens */
  }
}

/* Box Parts */
.box-part {
  height: 50px;
  flex: 1;
  border-bottom: 1px solid #333; /* Separator line */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

/* Colors for the parts */
.box-part.green {
  background-color: #4caf50; /* Softer green */
}

.box-part.blue {
  background-color: #2196f3; /* Softer blue */
}

.box-part.red {
  background-color: #f45c36; /* Softer red */
}

/* the middle box-part */
.box-part:nth-child(2) {
  border-left: 1px solid #2f2f2f83;
  border-right: 1px solid #2f2f2f83;
}

.box.highlight {
  border: 1px solid #bcbcbc; /* Highlight color for the current day */
}

/* Task Dropdown */

.box > div {
  flex: 1 1 33%; /* Each child will take 33% of the row width */
  box-sizing: border-box;
}

.box > div:nth-child(4) {
  flex-basis: 100%; /* Force the 4th child to take the full width */
  background-color: rgb(49, 49, 49);
  height: 30px;
  padding: 0;
  margin: 0;

  .tasks-toggle {
    z-index: -1;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(53, 53, 53);
    color: #bbbbbb;
  }
}

.tasks-date {
  margin: 0;
  padding: 0;
}

.task-dropdown-overlay {
  position: fixed;
  gap: 5px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dimming effect */
  z-index: 100; /* Ensure it is above all other content */
  justify-content: center;
  align-items: center;
}

.task-dropdown {
  position: relative;
  gap: 5px;
  background-color: rgb(154, 154, 154);
  padding: 10px;
  border: 3px solid #555;
}

.task-item {
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ddd; /* Separation line */
  position: relative;
}

.task-item .drag-icon {
  cursor: grab;
  margin-right: 8px;
  color: #888;
  font-size: 1rem;
}

.drag-icon:hover {
  color: rgb(55, 55, 55);
}

.task-item .task-text {
  flex-grow: 1;
  cursor: pointer;
  padding: 0 8px;
}

.task-item .edit-task,
.task-item .delete-task {
  margin-left: 8px;
  cursor: pointer;
  color: #888;
}

.task-item .edit-task i,
.task-item .delete-task i {
  font-size: 1rem;
}

.delete-task:hover {
  color: darkred;
}
.edit-task:hover {
  color: rgb(0, 60, 139);
}

.task-item .task-separator {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  position: absolute;
  bottom: 0;
  left: 0;
}

.task-item.dragging {
  opacity: 0.5;
}

.edit-task-input {
  width: 100%;
}

.task-dropdown ul {
  list-style-type: none;
  padding-left: 0;
}

.task-dropdown ul li {
  cursor: pointer;
  padding: 5px;
  color: #1f1f1f;

  /* make it un-selectable */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.task-dropdown ul li.done .task-text {
  text-decoration: line-through;
  color: #136e07;
}

.task-dropdown ul li.not-done .task-text {
  text-decoration: line-through;
  color: #6e1307;
}

.task-dropdown input {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.task-dropdown button {
  padding: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.task-dropdown button:hover {
  background-color: #45a049;
}
